.user-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;
  max-width: 768px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 210px;
  background-image: url("../assets/img/waves.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__user-name {
    color: $navy;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-left: 30px;

    &--olive {
      font-size: 1.25rem;
      color: $green;
    }
  }

  &__user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 30px;
  }
}

.statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__title {
    width: 100%;
    margin: 10px 0;
    margin-left: 30px;
    font-size: 1.25rem;
    color: $navy;
    font-weight: 600;
  }

  &__average {
    display: flex;
    width: 100%;
  }

  &__average-image,
  &__average-particular {
    width: 50%;
    margin: 0 15px;
  }

  &__average-particular {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__particular {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: $navy;
    padding: 5px;
  }

  &__particular-sign {
    width: 10px;
    height: 10px;
    border-radius: 50%;

    &--blue {
      background-color: $blue;
    }

    &--green {
      background-color: $green;
    }

    &--yellow {
      background-color: $yellow;
    }
  }
}

.statistics-share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;

  &__link {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $light-beige;
    border-radius: 50%;
    margin-left: 5px;
  }
}
