.user-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
}

.header {
  width: 375px;
  height: 211px;
  background: $white url("../assets/img/waves.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__user-name {
    color: $navy;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-left: 30px;

    &--olive {
      font-size: 1.25rem;
      color: $green;
    }
  }

  &__user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 30px;
  }
}

.knowledge {
  &__title {
    color: $navy;
    font-size: 1.25rem;
    font-weight: 400;
  }
  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.card {
  border-radius: 15px;
  width: 49%;
  padding: 1rem;
  color: $white;
  margin: 2px auto;
  &--navy {
    background: $navy;
  }
  &--green {
    background: $green;
  }
  &--lime-green {
    background: $lime-green;
  }
  &--dark-beige {
    background: $dark-beige;
    color: $navy;
  }

  &__description {
    margin: 0 0 10px 0;
    line-height: 1.4rem;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__sign {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-right: 5px;
    &--violet {
      background: $violet;
    }
    &--olive {
      background: $olive;
    }
  }

  &__link {
    font-size: .625rem;
    text-decoration: none;
    color: $white;
    &--navy {
    color: $navy;
    }
  }
}
