$green: #7da022;
$beige: #e4d6bc;
$navy: #0e415e;
$blue: #2972c7;
$yellow: #f6b945;
$apple-green: #5eab40;
$lime-green: #a7d407;
$olive: #c9c679;
$violet: #6c64d0;
$dark-beige: #dbccb7;
$light-beige: #f2e9d8;
$grey: #707070;
$white: #ffffff;
