$green: #7DA022;
$beige: #E4D6BC;
$navy: #0E415E;
$blue: #2972C7;
$yellow: #F6B945;
$apple-green: #5EAB40;
$olive: #C9C679;
$violet: #6C64D0;
$dark-beige: #DBCCB7;
$light-beige: #F2E9D8;
$grey: #707070;