html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Open sans, Arial;
  background: $light-beige;
}

.main {
  min-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    font-size: 2.7rem;
    font-weight: 400;
    color: $green;
  }

  &__paragraph {
    color: $navy;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
    max-width: 320px;
    width: 100%;
    margin: 40px auto;
  }

  &__button {
    border: none;
    padding: 1.5rem;
    border-radius: 40px;
    width: 20rem;
    font-size: 1.5rem;
    text-align: center;

    &--be-eco {
      background: $green;
      color: #fff;
    }
    &--name {
      margin-top: 30px;
      background: $beige;
      color: #fff;
      margin-bottom: 20px;

      &::placeholder {
        color: #fff;
      }
    }
    &--start {
      background: none;
      border: 1px solid $navy;
      color: $navy;
    }
  }
}
